body {
    margin: 0px;
    color: #FFF;
}

.left-col {
    min-height: 100vh;
    width: 25%;
    float: left;
    background-color: #AEA4BF;
    text-align: center;
    overflow: hidden;
}

.right-col {
    height: 100vh;
    width: 75%;
    float: left;
    background-color: #2D3142;
    overflow-y: auto;
}

.about-me,
.education,
.experience,
.skills,
.contact {
    color: #000000;
    margin: 2%;
    padding: 2%;
    height: auto;
    background-color: gainsboro;
    font-family: Helvetica;
}

.about-me h1,
.education h1,
.experience h1,
.skills h1,
.contact h1 {
    text-align: center;
}

.name {
    margin-top: 13%;
}

.headshot-photo {
    margin-top: 11%;
}

.nav {
    margin-top: 14%;
}

.sites {
    margin-top: 25%;
}

.sites a,
.nav a {
    text-decoration: none;
    color: #FFF;
    transition: all 0.2s ease-in-out
}

.sites a:hover,
.nav a:hover {
    color: #2D3142;
    text-decoration: none;
}

.headshot-photo img {
    max-width: 62%;
    height: 77%;
}

.statement-col {
    width: 50%;
    height: 500px;
}

.contact-display {
    margin-top: 3%;
    margin-left: 12.5%;
    width: 75%;
    text-align: center;
}

.contact-display select {
    border-radius: 25px;
}

.US-Contact,
.AU-Contact {
    display: none;
}

table {
    margin: 0 auto;
    margin-top: 2%;
}

table th,
table td {
    width: 20%;
}

.left-col .icon {
    display: none;
}

.right-col .icon {
    display: none;
}

@media screen and (max-width: 600px),
(max-height: 1081px) {
    .left-col {
        display: none;
        height: 100%;
        overflow: hidden;
    }
    .right-col {
        width: 100%;
    }
    .right-col .icon {
        display: inline;
    }
    .headshot-photo img {
        max-width: 62%;
        max-height: 77%;
    }
}

@media screen and (min-width: 600px) {
    .left-col {
        display: inline;
    }
    .right-col {
        width: 70%;
    }
    .right-col .icon {
        display: none;
    }
    .headshot-photo img {
        max-width: 62%;
        height: 77%;
    }
}